{namespace examples.simple}

/**
 * Says hello to the world.
 */
{template .helloWorld}
  Hello world!
{/template}

/**
 * Says hello to the world again.
 */
{template .helloWorld2}
  Hello world!
{/template}